<div class="container">
    <h3 style="margin:20px 0 20px 0">About this code</h3>
    <div class="row">
        <p class="lead">
            What is this
        </p>
    </div>
    <p>
        This fine piece of code was built as a code challenge for a hush hush situation (cant tell because this is a public repository - who knows who might read this..).
    </p>
    <div class="row">
        <p class="lead">
            Who made it
        </p>
    </div>
    <p>
        A potential future employee of your company.
    </p>
    <div class="row">
        <p class="lead">
            When
        </p>
    </div>
    <p>
        Over the course of a few nights, when time, cats and wife permitted.
    </p>
    <div class="row">
        <p class="lead">
            Considerations
        </p>
    </div>
    <p>
        Technical stuff:
    </p>
    <ul>
        <li>Angular 6.1.4</li>
        <li>Angular CLI 6.1.5</li>
        <li>Node 8.11.4</li>
        <li>NPM 6.4.0</li>
    </ul>
    <p>
        Packages used:
    </p>
    <ul>
        <li>Bootstrap 4</li>
        <li>ng-bootstrap</li>
        <li>SecureLS - local storage encryption</li>
        <li>compodoc</li>
    </ul>
    <p>
        I installed a package called compodoc that maps/documents the project structure and details for easier investigation.
    </p>
    <p>
        At the command prompt, type:<br><br>
        npm run compodoc<br><br>
        this generates all the needed documentation and serves it on http://localhost:8080
    </p>
</div>
